.about-page {
  background-color: rgba(217, 217, 217, 1);
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.profile-section {
  text-align: center;
}

.profile-picture {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  object-fit: cover;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.leftBox {
  background-color: rgba(36, 35, 62, 1);
  padding: 20px;
  color: white;
  box-shadow: 3px 5px 18px 0px rgba(255, 124, 3, 1);
  width: 100%;
}

.text-style {
  color: rgba(255, 124, 3, 1);
}

.about-text {
  margin-bottom: 20px;
  margin-left: 500px;
}

.rectangle-box {
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 124, 3, 1),
    rgba(255, 124, 3, 1),
    rgba(36, 35, 62, 1)
  );
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.text {
  text-align: left;
  margin: 10px;
}

.highlight-box {
  width: 100%;
}

.highlight-text {
  padding: 20px;
  color: white;
  list-style: none;
}

.highlight-text li::before {
  content: '|';
  color: rgba(255, 124, 3, 1);
  font-size: 1.5em;
  margin-right: 10px;
}

.heading {
  color: rgba(241, 239, 239, 1);
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600;
}

.about-line {
  position: relative;
}

.about-line::after {
  content: "";
  width: 60%;
  height: 2px;
  background: rgba(255, 124, 3, 1);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.text1 {
  color: rgba(241, 239, 239, 1)
}

/* Mobile Styles */
@media screen and (max-width: 769px) {
  .leftBox {
    padding: 10px;
  }

  .profile-picture {
    max-width: 100%;
  }

  .rectangle-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .text,
  .highlight-text {
    padding: 10px;
  }

  .about-text {
    margin-bottom: 20px;
    margin-left: 110px;
  }
}
