.about-page {
  background-color: rgba(217, 217, 217, 1);
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-section {
  text-align: center;
}

.profile-picture {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  object-fit: cover;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.left-box {
  background-color: rgba(36, 35, 62, 1);
  padding: 20px;
  color: white;
  box-shadow: 3px 5px 18px 0px rgba(255, 124, 3, 1);
}

.text-style {
  color: rgba(255, 124, 3, 1);
}

.about-text {
  margin-bottom: 20px;
}

.rectangle-box {
  width: 100%;
  height: auto;
  background: linear-gradient(
    to right,
    rgba(255, 124, 3, 1),
    rgba(255, 124, 3, 1),
    rgba(36, 35, 62, 1)
  );
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.text {
  text-align: left;
  margin: 10px;
}

.highlight-box {
  width: 100%;
}

.highlight-text {
  padding: 20px;
  color: white;
  list-style: none;
}

.highlight-text li::before {
  content: '|';
  color: rgba(255, 124, 3, 1);
  font-size: 1.5em;
  margin-right: 10px;
}

.heading {
  color: rgba(241, 239, 239, 1);
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600;
}

.about-line {
  position: relative;
}

.about-line::after {
  content: "";
  width: 60%;
  height: 2px;
  background: rgba(255, 124, 3, 1);
  position: absolute;
  bottom: -4px;
  left: 0;
}

/* Mobile Styles */
@media screen and (max-width: 769px) {
  .about-container {
    align-items: center;
  }

  .left-box {
    padding: 10px;
  }

  .profile-picture {
    max-width: 100%; /* Adjust max-width for responsiveness */
  }

  .rectangle-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .text,
  .highlight-text {
    padding: 10px;
  }
}


  /* .spinner {
    background-image: linear-gradient(rgba(255, 124, 3, 1) 35%,rgba(36, 35, 62, 1));
    width: 200px;
    height: 200px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgba(255, 124, 3, 1), 0px 5px 20px 0px rgba(36, 35, 62, 1);
    margin-top: 400px;
    margin-right: 50px;
  }
  
  .spinner1 {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
  }
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }
    
   */


  /* @media screen and (max-width: 769px) {
    .about-container {
      align-items: center;
      position: relative;
      justify-content: center;
      display: flex;
      flex-direction: column; 
      flex-direction: column;
    flex-direction: column-reverse;
    }
  
    .left-box {
      padding: 10px;
      width: 100%;
      margin: 0;
      margin-top: 60%;
      height: 1300px;
    }
  
    .about-text {
      text-align: center;
      margin: 0;
      align-self: center;
    }
  
    .highlight-box {
       
      width: 100%;
      justify-content: center;
      margin: 0;
      height: 500px;

    }
  
    .rectangle-box {
      display: grid;
      flex-direction: column;
      align-items: center; 
      width: 50%; 
      margin: 0;
      margin-left: 600px;
      margin-top: -600px;
      text-align: center;
    }
  
    .top-text img {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  
    .text {
      padding-left: 5px; 
      text-align: center;
      margin: 10px;
      width:300px;
      margin-left: -70px;
      flex-direction: column;
    flex-direction: column-reverse;
    }
  }
   */