.about-page {
    background-color: rgba(217, 217, 217, 1);
    padding: 20px; 
    
  }
  
  .about-container {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: 100vh; 
    position: relative;
  }
  
  .left-box {
    background-color: rgba(36, 35, 62, 1);
    padding: 220px; 
    color: white; 
    margin-top: -40px;
    margin-right: 10px;
    box-shadow: 3px 5px 18px 0px rgba(255, 124, 3, 1);
    position: flex;
    height: 300px;
  }
  
  .text-style {
    color: rgba(255, 124, 3, 1); 
  }
  
  .top-text {
    position: relative;
    padding-left: 500px;
    right: 200px;
  }
  
  .rectangle-box {
    width: calc(100% + 690px);
    height: 140px;
    background: linear-gradient(to right, rgba(255, 124, 3, 1), rgba(255, 124, 3, 1), rgba(36, 35, 62, 1));
    position: absolute;
    top: 20px;
    left: -350px;
    margin-right: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding: 20px;
    position: absolute;
  }

  .rectangle-box::before {
    content: "";
    width: 3px;
    height: 80px;
    background: rgba(36, 35, 62, 1);
    position: absolute;
    bottom: -4px;
    left: 390px;
    margin-bottom: 75px;
  }
  
  .text {
    
    padding-left: 400px;
    text-align: left; 
    margin: 10px;
  }
  
  .about-text {
    margin-top: -210px; 
  }
 /*Underline text*/

.about-line {
    position: relative; 
  }
  
  .about-line::after {
    content: "";
    width: 60%;
    height: 2px;
    background: rgba(255, 124, 3, 1);
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  .profile-picture {
    width: 400px;
    padding: 100px;
    position: absolute;
    bottom: 100px;
    top: 50px;
    right: 300px;
    margin-top: -270px;
    text-align: right;
    z-index: 1; 
    object-fit: cover;
  }

  .highlight-box {
    width: 100%;
    position: relative;
    top: 480px;
    margin-left: -150px;
  }
  
  .highlight-text {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 20px;
    
    color: white;
    list-style: none;
  }

  .highlight-text p::before {
    content: '|'; 
    color: rgba(255, 124, 3, 1);
    font-size: 1.5em; 
    margin-right: 10px; 
    height: 200px;
  }

  .heading {
    color: rgba(241, 239, 239, 1);
    font-size: 1.2em; 
    margin-bottom: 50px; 
    font-weight: 600;
  }
  

  .spinner {
    background-image: linear-gradient(rgba(255, 124, 3, 1) 35%,rgba(36, 35, 62, 1));
    width: 200px;
    height: 200px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgba(255, 124, 3, 1), 0px 5px 20px 0px rgba(36, 35, 62, 1);
    margin-top: 400px;
    margin-right: 50px;
  }
  
  .spinner1 {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
  }
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }
    
  
  