@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  margin-bottom: 0;
  margin-top: 200px;
  position: relative;
  z-index: 1;
}

.skills-cover {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.rows {
  display: flex;
  flex-wrap: wrap; /* Ensure that items wrap to the next line on smaller screens */
  justify-content: space-between;
  margin-bottom: 20px;
}

.square {
  flex: 1;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 20px;
  background-color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(255, 124, 3, 1);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(255, 124, 3, 1);
  overflow: hidden;
  margin-right: 20px; /* Adjust the margin-right to set the gap between boxes */
  margin-bottom: 20px; /* Add margin-bottom for spacing between rows on smaller screens */
}
/* Animation */
.square:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  background: linear-gradient(to bottom, rgba(36, 35, 62, 1), rgba(255, 124, 3, 1));
}

.icon-container i {
  color: #fff;
  font-size: 50px;
}

.progress-bar-container {
  height: 20px;
  margin-top: 10px;
  background-color: rgb(129, 128, 128);
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  background-color: rgba(36, 35, 62, 1);
  border-radius: 10px;
  position: relative;
}

.progress-text {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Animation */
.square:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}



.text-container {
  text-align: center;
  margin-top: 10px;
}

.text-container h3 {
  margin: 5px 0;
  font-size: 18px;
}

.text-container p {
  margin: 0;
  font-size: 14px;
  color: rgba(255, 124, 3, 1);
}

@media (max-width: 768px) {
  .square {
    flex-basis: calc(50% - 20px); 
    margin-right: 0; 
  }
}

@media (max-width: 480px) {
  .square {
    flex-basis: 100%; 
    margin-right: 0; 
  }
}