/* src/components/ImageSlider.css */
.slide {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .slideCard {
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 15px;
    overflow: hidden;
    transform: scale(0.85);
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }
  
  .slideCard img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .cardContent {
    padding: 20px;
  }
  
  .imageTitle {
    font-size: 20px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .imageDescription {
    font-size: 16px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    text-align: center;
  }
  
  .slideButton {
    margin: 5px;
    background-color: rgba(255, 124, 3, 1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
  }
  
  .slideButton:hover {
    background-color: rgba(36, 35, 62, 1);
  }
  
  .activeSlide .slideCard {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .prevArrow, .nextArrow {
    /* Your existing styles */
    z-index: 10; /* Ensure arrows are above card */
  }
  
  .prevArrow {
    position: absolute;
    top: 40%;
    left: -20px;
    z-index: 100;
    cursor: pointer;
    font-size: 3rem;
    color: rgba(255, 124, 3, 1);
  }
  
  .nextArrow {
    position: absolute;
    top: 40%;
    right: -10px;
    z-index: 100;
    cursor: pointer;
    font-size: 3rem;
    color: rgba(255, 124, 3, 1);
  }
  

  /*Added style*/
    