.contacts-page {
    margin: 0;
   height: 100vh;
}

#contact-me {
    margin-left: 550px;
    margin-top: 20px;
}

.contacts-container {
    /* border: 5px solid; */
    padding: 50px;
    padding-top: 0px;
    margin: 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(36, 35, 62, 1);
    border-radius: 25.62px;
}

.contacts-left {
    /* border: 5px solid; */
    width: 400px;
}

.contacts-right {
    /* border: 5px solid; */
    width: 500px;
    padding: 5px;
    padding-top: 20px;
   
}
.contacts-icons {
    /* border: 5px solid; */
    padding: 1px;
    margin-bottom: 30px;
}

.contacts-picture {
    /* border: 5px solid; */
    height: 80%;
    background-image: linear-gradient(rgba(217, 217, 217, 1) 35%,rgba(36, 35, 62, 1));
    margin-top: -20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.contacts-picture img{
   
}

.picture-text {
    /* border: 3px solid; */
    /* height: 100px;
    width: 100px; */
    padding: 5px;
    color: rgba(36, 35, 62, 1);
}

.footer {
    /* border: 5px solid; */
    height: 120px;
    margin-top: 140px;
    padding-left: 550px;
    background-color: rgba(36, 35, 62, 1);
    width: 100%;
}

.icons-in-footer i{
  padding: 10px;
  font-size: 25px;
  color: rgba(217, 217, 217, 1);
}

.icons-in-footer i:hover {
    padding: 10px;
    font-size: 25px;
    color: rgb(255, 104, 3);
    transition: 0.6s ease-in-out;
  }

.copyrights {
    margin-top: 30px;
    font-weight: 500;
    font-size: 13px;
    margin-left: -86px;
    color: rgba(217, 217, 217, 1);
}


.form-button button {
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.form-button button:hover {
  background-color: rgba(217, 217, 217, 1); 
  color: rgba(255, 124, 3, 1); 
  border-color: rgba(217, 217, 217, 1); 
}

.contacts-title {
    /* border: 5px solid; */
}

.footer-icons {
   /* border: 5px solid; */
   padding: 5px;
   margin-bottom: 0;
}

.copyrights {
    /* border: 5px solid; */
    padding: 5px;
}


.icons-form {
    display: flex;
    gap: 30px; 
    margin-top: 30px; 
  }
  
  .icons-form i {
    font-size: 25px; 
    color: rgba(217, 217, 217, 1);
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  
  .icons-form i:hover {
    color: rgba(255, 124, 3, 1); 
    transform: scale(1.1); 
  }

  #form-text {
    color: rgba(255, 124, 3, 1);
    margin-top: 20px;
  }
  

  #in-touch-text {
    text-shadow: -1px 10px 2px;
    width: 100%;
}

.text-style {
  font-weight: 400;
  font-size: 30px;
}

  #touch {
    font-weight: 600;
    animation: zoomInOut 0.6s infinite alternate;
    font-size: 20px;
    margin-top: -230px;
    margin-left: 220px;
  
  }

  @keyframes zoomInOut {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.2);
    }
}



.telephone-image{
    margin-left: 60px;
    margin-top: -20px;
   height: 100%;
   width: 100%;
}


.your-name input,
.your-email input,
.your-message textarea {
    padding: 10px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12.81px;
    margin-top: 20px;
    border: none; 
    width: 100%;
}

.your-name input {
  height: 30px;
}
.your-email input {
   
    height: 40px;
}

.your-message textarea {
    height: 90px;
}

.recaptcha-container {
  padding: 10px;
  width: 100%;
}


@media screen and (max-width: 769px) {
  #contact-me,
  .contacts-title {
    margin-left: 60px;
    padding-top: 50px;
    margin-bottom: -20px;
    font-size: 15px;
  }

  .contacts-container {
    flex-direction: column;
    margin: 20px;
    height: 900px;
  }

  .contacts-left,
  .contacts-right {
    width: 100%;
  }

  .footer {
    padding-left: 20px;
    margin: 0;
    align-items: center;
   
  }

  .telephone-image{
  width: 100%;
  margin-left: 0;
}

#touch {
 width: 10%;
 margin-left: 100px;
 font-size: 15px;
}

.contacts-picture {
  height: 300px;
  width: 250px;
  margin-left: -25px;
}

.recaptcha-container {
  padding: 10px;
  margin-left: -60px;
}

.text-style {
  font-size: 20px;
}

.icons-in-footer {
  margin-left: 80px;
  font-size: 10px;
}
.icons-in-footer i{
  font-size: 20px;
}

.copyrights {
   font-size: 10px;
   padding: 5px;
   margin-left: 35px;
}

.your-name input {
 
  width: 270px;
  margin-left: -35px;
}
.your-email input {
   
  width: 270px;
  margin-left: -35px;
}

.your-message textarea {
  width: 270px;
  margin-left: -35px;
}

#form-text {
  margin-left: -35px;
}
}