@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.projects-page {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: rgba(36, 35, 62, 1);
    height: 90vh;
}


#project-title {
  margin-top: 100px;
}

.projects-container {
   /* border: 5px solid; */
   align-content: center;
   padding: 10px;
   margin-left: 135px;
   width: 100%;
   height: 600px;
   display: flex;
}

.projects-slide{
    /* border: 5px solid; */
   
      height: 100%;
      width: 90%;
    
    
}

.my-picture {
    /* border: 5px solid; */
    width: 300px; /* Adjust width */
  height: 100%;
  background-image: linear-gradient(to bottom, #fff, rgba(36, 35, 62, 1));
}




.container {
  padding: 2.5rem 0;
}

@media only screen and (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    margin-left: 0;
  }

  .projects-slide {
    width: 100%;
    height: auto;
  }

 

  .my-side-picture {
  display: none;
  }
}
