@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.projects-page {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: rgba(36, 35, 62, 1);
    height: 100vh;
}

.project {
  border: #fff 3px solid ;
}

#project-title {
  margin-top: 100px;
}

.projects-container {
   border: 5px solid;
   align-content: center;
   padding: 10px;
   margin-left: 135px;
   width: 1000px;
   height: 600px;
   display: flex;
}

.projects-slide{
    border: 5px solid;
    width: 700px;
    
}

.my-picture {
    border: 5px solid;
    width: 300px;
    background-image: linear-gradient(to bottom, #fff, rgba(36, 35, 62, 1) );
}


  /* @media (max-width: 500px) {
    .swiper_container {
      height: 47rem;
    }
    .swiper-slide {
      width: 18rem !important;
      height: 26rem !important;
    }
    .swiper-slide img {
      width: 18rem !important;
      height: 26rem !important;
    }
  }
  
  .swiper-slide img {
    width: 17rem;
    height: 22rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next {
    left: 98% !important;
   
    transform: translateX(-58%) !important;
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
   */
  /* App.css */


.container {
  padding: 2.5rem 0;
}